body {
  width: 960px;
  margin: auto;

  font-size: 20px;
    font-family: sans-serif;
    color: #333;
}

.question{
    font-weight: 600;
}
.answers {
    margin-bottom: 20px;
}
#submit{
    font-family: sans-serif;
    font-size: 20px;
    background-color: #297;
    color: #fff;
    border: 0px;
    border-radius: 3px;
    padding: 20px;
    cursor: pointer;
    margin-bottom: 20px;
}
#submit:hover{
    background-color: #3a8;
}

#startBtn{
  font-family: sans-serif;
  font-size: 20px;
  background-color: #297;
  color: #fff;
  border: 0px;
  border-radius: 3px;
  padding: 20px;
  cursor: pointer;
  margin-bottom: 20px;
}
#startBtn:hover{
  background-color: #3a8;
}

h1,
{
  width: 90%;
  padding: 10px;
  margin: 10px;
  color: white;
  text-align: center;
}

p {
  width: 90%;
  padding: 10px;
  margin: 10px;
  color: #777;
  text-align: left;
  background-color: aquamarine;
}

.crystal-image {
  width: 300px;
  height: 300px;
}